.DS_Store
node_modules/
dist/config.py
dist/static/
dist/templates/
src/conf.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*
test/unit/coverage
test/e2e/reports
*.pyc

selenium-debug.log
.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
test/unit/coverage
test/e2e/reports
selenium-debug.log
